* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #f1f1f1;
    --font-family-title: 'Press Start 2P', cursive;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    /* background-image: url('../img/fundo.jpg');
    background-size: auto 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh; */
}

/* Se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
    body {
        font-size: 18px;
    }

    .cardBoard {
        width: 400px;
    }

    .cardBoard .flip-card {
        height: 70px;
        width: 70px;
    }

    .cardBoard .flip-card img{
        height: 70px;
        width: 55px;
    }
}

/* Se a tela tiver pelo menos 560px vai carregar estes estilos */
@media (min-width: 560px) {
    .sub-highlights .grid {
        /* Informa a quantida de columanas - 2 colunas com 240px*/
        grid-template-columns: 240px 240px;
    }

    .cardBoard {
        width: 420px;
    }

    .cardBoard .flip-card {
        height: 80px;
        width: 70px;
    }

    .cardBoard .flip-card img{
        height: 80px;
        width: 55px;
    }
}

@media (min-width: 625px) {
    body {
        font-size: 22px;
    }

    .contact,
    .about,
    .comments {
        min-height: 100vh;
        padding: 2em;
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 46%, rgba(159, 159, 159, 1) 100%);
    }

    .contact h2,
    .about h2,
    .contact-footer h2,
    .sub-highlights h2,
    .comments h2 {
        text-align: start;
        font-family: var(--font-family-title);
        font-size: 2em;
        margin-top: 3em;
        margin-bottom: 2em;
    }

    .about .experience,
    .userComment {
        text-align: center;
        border: 3px solid #ccc;
        border-radius: 10px;
        width: 66vw;
        margin: 30px auto;
    }

    .about .experience .avatar img,
    .comments .userComment .avatar img {
        margin-top: 1em;
        /* margin-left: 2em; */
        /* float: right; */
    }

    .about .experience p,
    .comments .userComment p {
        margin: 1em;
        text-align: justify;
        text-indent: 1em;
    }

    .cardBoard {
        width: 420px;
    }

    .cardBoard .flip-card {
        height: 90px;
        width: 80px;
    }

    .cardBoard .flip-card img{
        height: 90px;
        width: 65px;
    }
}

/* Se a tela tiver pelo menos 880px vai carregar estes estilos */
@media (min-width: 880px) {
    .sub-highlights .grid {
        /* Informa a quantida de columanas - 3 colunas com 240px*/
        grid-template-columns: repeat(3, 240px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 8em - 48px);
    }

    .cardBoard {
        width: 700px;
    }

    .cardBoard .flip-card {
        margin: 30px;
        height: 120px;
        width: 100px;
    }

    .cardBoard .flip-card img{
        height: 120px;
        width: 85px;
    }
}

@keyframes headerAnimation {
    from {
        transform: scale(0.2) translateY(50vh);
        opacity: 0;
    }

    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes arrow-down {
    from {
        transform: translateY(0);
        opacity: 0.4
    }

    to {
        transform: translateY(-0.4em);
        opacity: 0.9
    }
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap;  */
    /* background-image: url('../images/memory-game.jpg'); */
    background-size: auto 100vh;
    /* background-repeat: no-repeat; */
}

.menuMobile {
    margin-top: 10px;
    position: absolute;
    top: 0;
}

.menuMobile li {
    list-style: none;
}

.menuMobile a:active,
.menuMobile a:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}

.menuMobile .dropdown {
    width: fit-content;
}

.menuMobile .dropdown a {
    color: black;
    display: block;
    font-size: 2em;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.menuMobile .dropdown-content {
    display: none;
    margin-right: 10px;
    padding: 3px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    min-width: 140px;
    z-index: 1;
}

.menuMobile .dropdown-content a {
    color: black;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .4s;
}

.menuWeb .dropdown-content a:active,
.menuWeb .dropdown-content a:hover,
.menuMobile .dropdown-content a:active,
.menuMobile .dropdown-content a:hover {
    text-shadow: none;
    background-color: gray;
    border-radius: 10px;
    color: white;
    text-decoration: underline;
    transition: all .7s;
    margin: 4px;
}

.menuWeb .dropdown:hover .dropdown-content,
.menuMobile .dropdown:hover .dropdown-content {
    display: block;
    /* background-color: white;
    border: 1px solid black;
    z-index: 1; */
}

.menuWeb {
    background-color: black;
    box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menuWeb ul {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.contact-footer .box li,
.menuWeb li {
    list-style: none;
}

.menuWeb .dropdown a,
.menuWeb a {
    color: var(--text-color);
    display: block;
    font-size: 1.2em;
    font-family: 'Source Code Pro', monospace;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.contact-footer a:active,
.contact-footer .box a:hover,
.menuWeb a:active,
.menuWeb a:hover {
    background-color: var(--text-color);
    border-radius: 10px;
    color: black;
    text-decoration: underline;
}

.menuWeb .dropdown a:hover {
    text-decoration: none;
}

.menuWeb .dropdown img {
    background-color: var(--text-color);
    border-radius: 20px;
    margin-bottom: 10px;
    height: 12px;
}

.menuWeb .dropdown-content {
    display: none;
    margin-right: 10px;
    padding: 3px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    min-width: fit-content;
}

.menuWeb .dropdown-content a {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.header-content {
    text-align: center;
    width: fit-content;
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 1.2s linear 1s headerAnimation forwards;
}

.header-content figure figcaption {
    font-size: 1.2em;
    font-family: var(--font-family-title);
    font-weight: lighter;
    font-style: italic;
}

.header-content a i {
    color: black;
    padding-top: 50px;
    font-size: 1.5em;
    animation: arrow-down 0.6s infinite alternate ease-in-out;
}

/* .cardBoard, */
.comments {
    text-align: center;
    min-height: 100vh;
    margin-top: 50px;
    padding: 1em;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 46%, rgba(159, 159, 159, 1) 100%);
}

.contact h2,
.about h2,
.contact-footer h2,
.sub-highlights h2,
.comments h2 {
    font-family: var(--font-family-title);
    font-size: 1.2em;
}

.about .avatar img,
.comments .avatar img {
    margin: 10px;
    margin-top: 50px;
    border-radius: 50%;
    border: 2px solid wheat;
}

.about p,
.comments p {
    margin-top: 1.4em;
    text-align: justify;
    text-indent: 2em;
}

.comments .userComments {
    border: 2px solid blanchedalmond;
    border-radius: 10px;
    margin-top: 40px;
}

.about,
.sub-highlights {
    text-align: center;
    min-height: 100vh;
    padding: 1em;
}

.sub-highlights .grid {
    display: grid;
    /* Define o espaçamento entre cada linha ou cada coluna */
    gap: 2em;
}

.sub-highlights figure {
    text-align: center;
    margin-top: 50px;
}

.sub-highlights figure img {
    box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2%;
    height: 180px;
    width: 100%;
    /* object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms; */
    transition: transform 500ms;
}

.sub-highlights figure img:hover {
    transform: scale(.9);
}

.sub-highlights figcaption {
    text-align: justify;
    text-indent: 2em;
    margin-top: 10px;
}

.contact-footer {
    text-align: center;
    padding-top: 50px;
    background-color: rgba(159, 159, 159, 1);
    padding: 1em;
}

.contact-footer .icons {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.contact-footer .icons a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 2em;
    transition: text-shadow 1s, color 1s;

}

.contact-footer .icons a:active,
.contact-footer .icons a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, .5);
}

.contact-footer .box ul {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-top: 2em;
    padding: 10px;
    width: 100%;
}

.contact-footer .box a {
    padding: 10px;
    color: white;
}

.header-memoryGame,
.header-contact,
.header-about {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    text-align: center;
}

.contact,
.about {
    text-align: center;
    min-height: 100vh;
    padding: 1em;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 46%, rgba(159, 159, 159, 1) 100%);
}

.contact {
    min-height: 85vh;
}

.contact form {
    text-align: start;
}

.contact form label {
    margin: 15px 0;
    display: block;
    text-transform: uppercase;
}

.contact form input,
form textarea {
    border: 1px solid black;
    border-radius: 8px;
    background-color: transparent;
    color: black;
    font-style: italic;
    height: 20px;
    padding: 15px 15px;
    width: 70vw;
}

.contact form select {
    background: #F0F0F5;
    border-radius: 8px;
    border: 1 px solid black;
    color: #6C6C80;
    font-size: 16px;
    padding: 16px 24px;
}

.contact form textarea {
    font-size: 1em;
    height: 100px;
}

/* .game .button-box, */
.button-box {
    display: flex;
    justify-content: center;
}


.contact button {
    border: 1px solid black;
    border-radius: 8px;
    background-color: steelblue;
    color: white;
    margin: 25px 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    height: 30px;
    width: 200px;
}

.contact input:focus,
.contact select:focus,
.contact textarea:focus,
.contact button:focus {
    outline: none;
}

.contact select:focus-within,
.contact textarea:focus-within,
.contact input:focus-within {
    background: #F0F0F5;
    border: 2px solid black;
}

.header-memoryGame {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memory-game {
    /* border: 1px solid; */
    text-align: center;
    min-height: 100vh;
    margin-top: 50px;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 46%, rgba(159, 159, 159, 1) 100%); */
}

.memory-game h2 {
    font-family: var(--font-family-title);
    font-size: 1.2em;
}

.memory-game button {
    border: 1px solid black;
    border-radius: 8px;
    background-color: gray;
    color: white;
    margin: 30px 0px 0px 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    height: 30px;
    width: 200px;
}

.memory-game button:active,
.memory-game button:hover {
    box-shadow: 0px 8px 16px 2px rgba(108, 108, 128, 0.5);
    border: 2px solid whitesmoke;
}

.memory-game button:disabled {
    opacity: 0.3;
}

.cardBoard {
    background-color: #F0F0F5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto auto auto;
}

.card {
    background-color: #ccc;
    box-shadow: 0px 8px 16px 2px rgba(108, 108, 128, 0.5);
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
}

.cardBoard  img {
    height: 40px;
    width: 40px;
} 

/* --------------- */

.cardBoard {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    background-color: #F0F0F5;
    border-radius: 10px;

    margin: 10px auto auto auto;
    /* width: 720px; */
}

.flip-card {
    margin: 10px;
    background-color: transparent;
    height: 60px;
    width: 60px;
    perspective: 1000px;
    /* border-radius: 10%; */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    
    transition: transform 1.3s;
    transform-style: preserve-3d;
}

/* .flip-card-inner:hover {
    transform: rotateY(180deg);
} */

.flip {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    background-color: #ccc;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10%;
    box-shadow: 0px 8px 16px 2px rgba(108, 108, 128, 0.5);
}

.card-back {
    transform: rotateY(180deg);
}

.card-front img,
.card-back img {
    height: 60px;
    width: 50px;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}