* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #f1f1f1;
    --font-family-title: 'Press Start 2P', cursive;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    /* background-image: url('../img/fundo.jpg');
    background-size: auto 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh; */
}

/* Se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
    body {
        font-size: 18px;
    }
}

/* Se a tela tiver pelo menos 560px vai carregar estes estilos */
@media (min-width: 560px) {
    .sub-highlights .grid {
        /* Informa a quantida de columanas - 2 colunas com 240px*/
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 625px) {
    body {
        font-size: 22px;
    }

    .comments {
        min-height: 100vh;
        padding: 2em;
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 46%, rgba(159, 159, 159, 1) 100%);
    }

    .sub-highlights h2,
    .comments h2 {
        text-align: start;
        font-family: var(--font-family-title);
        font-size: 2em;
        margin-top: 3em;
        margin-bottom: 2em;
    }

    .userComment {
        text-align: center;
        border: 3px solid #ccc;
        border-radius: 10px;
        width: 66vw;
        margin: 30px auto;
    }

    .comments .userComment .avatar img {
        margin-top: 1em;
        /* margin-left: 2em; */
        /* float: right; */
    }
    
    .comments .userComment p {
        margin: 1em;
        text-align: justify;
        text-indent: 1em;
    }
    
    .comments .userComment .arrow-down {
        text-align: center;
    }

    /* .sub-highlights .grid figure {
        text-align: center;
    } */
    
}

/* Se a tela tiver pelo menos 880px vai carregar estes estilos */
@media (min-width: 880px) {
    .sub-highlights .grid {
        /* Informa a quantida de columanas - 3 colunas com 240px*/
        grid-template-columns: repeat(3, 240px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 8em - 48px);
    } 
}

@keyframes animacaoTitulo {
    from {
        transform: scale(0.2) translateY(50vh);
        opacity: 0;
    }

    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes arrow-down {
    from {
        -webkit-transform: translateY(0);
        opacity: 0.4
    }

    to {
        -webkit-transform: translateY(-0.4em);
        opacity: 0.9
    }
}


header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* flex-wrap: wrap;  */
}

.menuMobile {
    margin-top: 10px;
    position: absolute;
    top: 0; 
}

.menuMobile li {
    list-style: none;
}

.menuMobile a:active,
.menuMobile a:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}

.menuMobile .dropdown {
    width: fit-content;
}

.menuMobile .dropdown a {
    color: black;
    display: block;
    font-size: 2em;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.menuMobile .dropdown-content {
    display: none;
    margin-right: 10px;
    padding: 3px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    min-width: 140px;
    z-index: 1;
}

.menuMobile .dropdown-content a {
    color: black;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .4s;
}

.menuWeb .dropdown-content a:active,
.menuWeb .dropdown-content a:hover,
.menuMobile .dropdown-content a:active,
.menuMobile .dropdown-content a:hover {
    text-shadow: none;
    background-color: gray;
    border-radius: 10px;
    color: white;
    text-decoration: underline;
    transition: all .7s;
    margin: 4px;
}

.menuWeb .dropdown:hover .dropdown-content,
.menuMobile .dropdown:hover .dropdown-content {
    display: block;
    /* background-color: white;
    border: 1px solid black;
    z-index: 1; */
}

.menuWeb {
    background-color: black;
    box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menuWeb ul {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.menuWeb li {
    list-style: none;
}

.menuWeb .dropdown a,
.menuWeb a {
    color: var(--text-color);
    display: block;
    font-size: 1.2em;
    font-family: 'Source Code Pro', monospace;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.menuWeb a:active,
.menuWeb a:hover {
    background-color: var(--text-color);
    border-radius: 10px;
    color: black;
    text-decoration: underline;
}

.menuWeb .dropdown a:hover {
    text-decoration: none;
}

.menuWeb .dropdown img {
    background-color: var(--text-color);
    border-radius: 20px;
    margin-bottom: 10px;
    height: 12px;
}

.menuWeb .dropdown-content {
    display: none; 
    margin-right: 10px;
    padding: 3px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    min-width: fit-content;
}

.menuWeb .dropdown-content a {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.header-content {
    text-align: center;
    width: fit-content; 
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 1.2s linear 1s animacaoTitulo forwards; 
}

.header-content figure figcaption {
    font-size: 1.2em;
    font-family: var(--font-family-title);
    font-weight: lighter;
    font-style: italic;
}

.header-content a i {
    color: black;
    padding-top: 50px;
    font-size: 1.5em;
    animation: arrow-down 0.6s infinite alternate ease-in-out;
}

.comments {
    text-align: center; 
    min-height: 100vh;
    margin-top: 50px;
    padding: 1em;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 46%, rgba(159, 159, 159, 1) 100%);
}

.sub-highlights h2,
.comments h2 {
    font-family: var(--font-family-title);
    font-size: 1.2em;
}

.comments .avatar img {
    margin: 10px;
    margin-top: 50px;
    border-radius: 50%;
}

.comments p {
    margin-top: 1.4em;
    text-align: justify;
    text-indent: 2em;
}

.comments .userComments {
    border: 2px solid blanchedalmond;
    border-radius: 10px;
    margin-top: 40px;
}

.sub-highlights {
    text-align: center; 
    min-height: 100vh;
    padding: 1em;
}

.sub-highlights .grid {
    display: grid;
    /* Define o espaçamento entre cada linha ou cada coluna */
    gap: 2em;
}

.sub-highlights figure {
    text-align: center;
    margin-top: 50px;
}

.sub-highlights figure img {
    border-radius: 2%;
    height: 180px;
    width: 100%;
    /* object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms; */
    transition: transform 500ms;
}

.sub-highlights figure img:hover {
    transform: scale(.9);
}

.sub-highlights figcaption {
   text-align: justify;
   text-indent: 2em;
}
